/* Empty. Add your own CSS if you like */
.scroll{
	height: 100%
}
.gymdetail-slide-item{
	height: inherit;
	width: 100%;
}
.gymdetail-slide{
	height: 200px;
}
.gymdetail-listtype{
	width:100px;
	z-index: 10;
	left:50%;
	height: 30px;
	position: absolute;
	margin-left: -50px;
}
.gymdetail-listtype .button:first-child{
	border-radius: 10px 0 0 10px;
	min-width: 0;
	min-height: 0;
}
.gymdetail-listtype .button:last-child{
	border-radius: 0 10px 10px 0
	min-width: 0;
	min-height: 0;
}
.greybg {
	background-color: #f1f1f1
}

.card-info {
	margin: 20px 0;
	box-shadow: none;
	border: solid #e1e1e1 1px;
}


